body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #ff7e5f, #feb47b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: "Poppins",sans-serif;
    font-weight: 500;
    color: white;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-name{
    width: 200px;
}

.links a{
    font-size: 20px;
    margin-right: 20px;
    text-decoration: none;
    color: white;
    transition: all .5s ease-out;
}

.links a:hover{
    opacity: 0.4;
    font-size: 24px;
}

.navbar h1{
    font-size: 40px;
    font-weight: 700;
    margin-left: 20px;
}

.items i{
    color: white; 
    margin-right: 30px; 
    font-size: 20px;
    transition: all .5s ease-out;
}

.items i:hover{
    opacity: 0.4;
    font-size: 24px;
}

#bar{
    display: none;
}

.side-bar{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    bottom: 0;
    right: 0;
    width: 0px;
    z-index: -1;
    background-color: rgba(0,0,0,0.05);
    animation-name: none;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; 
}

.side-bar .links a{
    color: white;
    text-decoration: none;
    display: block;
    margin-top: 40px;
    transition: all .5s ease-out;
   
}

.side-bar .links {
    display: none;
    margin-top: 120px;
}


@keyframes open {
    from {width: 0px;}
    to{width:200px;}
}

@keyframes close {
    from {width: 200px;}
    to{width: 0px;}
}





@keyframes typing {
    from{
        width: 0;
    }
}

@keyframes blink {
    50%{
        border-color: transparent;
    }
}




@media (max-width:550px){
    .navbar .links{
        display: none;
    }
    #bar{
        display: inline;
        font-size: 20px;
        margin-right: 30px;
    }
}
